# --- Core Data Processing ---
pyspark==3.4.2
confluent-kafka[avro]
fastavro
clickhouse-driver
clickhouse-sqlalchemy
elasticsearch

# --- Blockchain / Web3 ---
web3
eth-utils
pyevmasm

# --- Utilities & Async ---
python-dotenv
async-lru
aiohttp
pydantic
orjson

# --- Airflow Plugins & Providers ---
airflow-clickhouse-plugin>=1.1.0
apache-airflow-providers-apache-spark
apache-airflow-providers-standard
